# Puerto del servidor
PORT=4000

# Base de datos PostgreSQL
DATABASE_URL="postgresql://postgres:1234@localhost:5432/ApkExcel?schema=public"
# Configuración de JWT
JWT_SECRET="b5e927e2c7d92007e798ce51433c83e707c2199433bcec4b835d172f5b80fe3b"
JWT_EXPIRATION="7d"
